@charset "utf-8";

* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	
}



h1 {
	float:left;
	z-index:1;
}

hr {
	height:7px;
}

.line1 h1 {
	width:70%;
}

img {
	float:left;
	position:relative;
	right:20px;
	margin:0px;
}

#banner {
	position:relative;
	z-index:-1;
	left: 0;
}

#navBar li a{
	padding: 15px 50px ;
	display:block;
	
	text-decoration:none;
	color:#FFFFFF;
}
